@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --main-color : #000C66;
    --second-color : #D01110;
    --third-color : #222222;
    --first-font : 'Poppins', sans-serif;
    --second-font : 'Lora', serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
}

/*  -----------------------------------
        Header
    -----------------------------------
*/

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
    box-shadow: 0px 1px 12px 0px rgba(0,0,0,0.1);
}

header .logo {
    position: relative;
    font-family : var(--first-font);
    font-weight: 600;
    font-size: 1.7em ;
    font-style: none;
    text-decoration: none;
    color : var(--main-color);
}

header .dot {
    color: var(--second-color);
}

header .nav {
    position: relative;
    display: flex;
}

header .nav li {
    list-style-type: none;
}

header .nav li a {
    display: inline-block;
    text-decoration: none;
    margin-left : 10px;
    font-family: var(--first-font);
    font-weight: 400;
    padding: 8px 15px;
    color: var(--main-color);
}

header .nav li a.active {
    font-weight: 600;
    color : var(--second-color);
}

/*  -----------------------------------
        Content
    -----------------------------------
*/

.content {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 60px;
}

.content .content-box {
    position: relative;
    max-width: 100%;
    padding-bottom : 40px;
    border-bottom: 1px solid #ddd;
}

.content-box .img-box {
    position: relative;
    width: 100%;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 1px solid gray;
    overflow: hidden;
}

.content-box .img-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    top: 0;
    left: 0;
}

.content .content-box .title {
    text-decoration: none;
}

.content .content-box .title h2 {
    color: var(--main-color);
    margin-bottom: 10px;
}

.content .content-box .title h2:hover {
    color : var(--second-color);
}

.content .content-box p {
    color: var(--third-color);
    font-size: 0.8em;
    line-height: 1.5em;
    font-weight: 400;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.content .content-box .post-parag {
    color: var(--third-color);
    font-size: 0.8em;
    line-height: 1.5em;
    font-weight: 400;
}


.text-box {
    max-width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.text-box .post-detail {
    display: flex;
    justify-content: end;
    align-items: center;
}

.text-box .post-detail .detail {
    margin-right: 10px;
}

.text-box .post-detail a {
    text-decoration: none;
}

.text-box .post-detail a h6:hover {
    color: var(--second-color);
}

.button {
    display: inline-block;
    text-decoration: none;
    margin-top : 20px;
    padding: 10px 20px;
    border: 1px solid var(--main-color);
    border-radius: 30px;
    font-size: 0.8em;
    color: var(--main-color);
}

.button:hover {
    background-color: var(--second-color);
    color: white;
}

.text-box .post-detail h6 {
    font-weight: 400;
    color: #222222;
    display: block;
    padding: 1px 0px;
    border-bottom: 1px dotted #ddd;
}

footer {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom:0;
    border-top: 1px solid #ddd;
    width: 100%;
    padding: 20px 100px;
    box-shadow: 0px 1px 12px 0px rgba(0,0,0,0.1);
}

footer p {
    font-size: 0.8em;
    font-weight: 400;
}

@media (max-width: 900px) {
    section {
        padding: 50px 0px;
    }

    .content {
        width: 100%;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        /* padding: 10px 70px; */
    }

    .content .content-box {
       
        width: 100%;
       
    }
}